 body {
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: o;
     background: #f4f6f9;
     color: #333;
 }
 
 header {
     background: #333;
     color: #ff9800;
     padding: 15px;
     text-align: center;
 }
 
 nav {
     color: white;
     margin: 015px;
     text-decoration: none;
     font-weight: bold;
     padding: 20px;
 }
 
 a {
     padding: 20px;
 }
 
 .p-center {
     text-align: center;
 }
 
 nav a:hover {
     color: #ff9800;
 }
 
 section {
     padding: 40px;
     max-width: 900px;
     margin: auto;
 }
 
 h2 {
     color: #222;
     margin-bottom: 20px;
     text-align: center;
     background-color: rgb(164, 235, 142);
 }
 
 p {
     text-align: left;
 }
 
 #about img {
     display: block;
     margin: auto;
     width: 150px;
     height: 150px;
     border: 3px solid #555;
     border-radius: 50%;
 }
 
 table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
     color: #333;
     background: #fff;
 }
 
 table,
 th,
 td {
     border: 1px solid #ccc;
 }
 
 th,
 td {
     padding: 10px;
 }
 
 form {
     max-width: 400px;
     margin: auto;
     background: #fff;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px opx 8px rgba(0, 0, 0, 0.1);
 }
 
 h5 {
     text-align: center;
     font-size: 12px;
     color: cadetblue;
 }
 
 form input,
 form textarea {
     width: 100%;
     padding: 10px;
     margin: 8px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
 }
 
 form button {
     background: #333;
     color: white;
     border: none;
     padding: 12px;
     cursor: pointer;
     border-radius: 5px;
     font-size: 16px;
 }
 
 form button:hover {
     background: #ff9800;
 }
 
 iframe,
 video {
     display: block;
     margin: 20px, auto;
     max-width: 100%px;
 }
 
 footer {
     background: #333;
     color: white;
     text-align: center;
     padding: 10px;
     margin-top: 20px;
 }
 
 h4 {
     color: blueviolet;
 }